<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/case.ico" rel="icon">

    <title>Portfolio | Works</title>

    <link href="./static/default.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title=""> Home</a></li>
                        <li><a href="./about.html" title=""> About me</a></li>
                        <li><a href="./works.html" title=""> Works</a></li>
                        <li><a href="./contact.html" title=""> Contact</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                    <div class="text-center">
                        <h1 class="h2">WORKS</h1>
                        <p>The most sophisticated machine in the world is the human body. Its capabilities always fascinated me and so I want my future endeavours revolve around providing cost-effective healthcare. To this end in mind, I do research on products
                            which are commercially viable, besides affordable and user-friendly.</p>
                        <h3>Domains of Research</h3>
                        <p>Medical Simulation | Wearable diagnostic devices | Signal Processing | Instrumentation</p>
                        <h3>Skills</h3>
                        <p>C, PYTHON, MATLAB, UNITY 3D, Blender, 3D modelling and casting, LABVIEW, CREO, Arduino CC, ANSYS Workbench, Autodesk Fusion 360, Altium Designer, Adobe Design suite.</p>
                    </div>
                </div>

                <div class="col-md-12">

                    <div id="myCarousel" class="carousel slide projects-carousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <a href="./work.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/dre2.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>1/6</h4>
                                            <h3 style="text-align:justify">Med-simulation</h3>
                                            <p>VR-based hi-fidelity digital rectal examination setup with haptic feedback</p>
                                            <a href="./work.html" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work1.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/hyp1.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>2/6</h4>
                                            <h3>Wearable device</h3>
                                            <p>Development of a wearable device for monitoring hypertension</p>
                                            <a href="./work1.html" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work2.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/jvp1.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>3/6</h4>
                                            <h3>Diagnostic device</h3>
                                            <p>Non-Invasive device for extraction of jugular venous pulse</p>
                                            <a href="./work2.html" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="./work3.html" class="black-image-project-hover">
                                            <img src="./static/assets/images/bp-main.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>4/6</h4>
                                            <h3>Signal processing</h3>
                                            <p>Estimation of systolic and diastolic blood pressure from photoplethysmogram (PPG) using machine learning techniques</p>
                                            <a href="./work3.html" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work4.html" class="black-image-project-hover">
                                            <img src="./static/assets/images/blender.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>5/6</h4>
                                            <h3>3D models</h3>
                                            <p>Take a look at my work on high-poly models rendered using Blender</p>
                                            <a href="./work4.html" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <a href="./work5.html" class="black-image-project-hover">
                                            <img src="./static/assets/images/ad.png" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>6/6</h4>
                                            <h3>Graphic designs</h3>
                                            <p>Check out my designs made using Adobe design suite platforms and Canva</p>
                                            <a href="./work5.html" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>

                            <!--/item-->
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>



                    <!--/myCarousel-->
                </div>



            </div>
        </div>
    </div>


    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© 2021 | Created by Prem Aravindan</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>