<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/case.ico" rel="icon">

    <title>Project | 02</title>

    <link href="./static/default.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title=""> Home</a></li>
                        <li><a href="./about.html" title=""> About me</a></li>
                        <li><a href="./works.html" title=""> Works</a></li>
                        <li><a href="./contact.html" title=""> Contact</a></li>
                    </ul>





                </div>
            </div>
        </nav>
    </header>
    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="./static/assets/images/hyp-thumb.jpg" class="img-responsive" alt="">
                    <div class="card-container">
                        <div class="text-center">
                            <h1 class="h2">02 : Wearable device</h1>
                        </div>
                        <h3>
                            <center>Development of a Wearable Device for Monitoring Hypertension</center>
                        </h3>
                        <p style="text-align:justify"> Hypertension is a prevalent clinical condition arising due to cardiac abnormalities which needs a continuous monitoring. This paper presents the ground work of non-invasive monitoring of hypertension using the ECG acquired from
                            the subject. The developed hardware was used to acquire ECG signal from 20 subjects. In cardiovascular system, the ventricular mass builds up resulting in abnormal increase in amplitude of R peak and S peak which signify the
                            hypertension condition. Using the ECG signal acquired, the abnormal peaks are detected with the window comparator based on the references set for respective peaks indicating hypertension through LED. It is anticipated that
                            with further optimization and proper prototyping of the proposed system, it should offer an easy way for clinical diagnosis of hypertension and monitoring it through the wearable setup which can prevent cardiovascular risks.</p>
                        <p style="text-align:justify">TOOLS USED:- ECG Amplifier | Window Comparator | LED Indicator </p>
                        <h4>
                            <center>Publication status</center>
                        </h4>
                        <h8>
                            <center>“National Journal of technology - March 2021”; ISSN Code:0973-1334</center>
                        </h8>
                        <h8>
                            <center>(Contact me to know more about the project)</center>
                        </h8>
                    </div>
                </div>


                <div class="rowpic2">
                    <div class="columnpic2">
                        <img src="./static/assets/images/hyp2.jpg" class="img-responsive" alt="" style="width:100%">
                        <h7>
                            <center>Blueprint of the prototype</center>
                        </h7>
                    </div>
                    <div class="columnpic2">
                        <img src="./static/assets/images/hyp5.jpg" class="img-responsive" alt="" style="width:100%">
                        <h7>
                            <center>Original vs Predicted data</center>
                        </h7>
                    </div>
                </div>

                <div class="rowpic2">
                    <div class="columnpic2">
                        <img src="./static/assets/images/hyp3.jpg" class="img-responsive" alt="" style="width:100%">
                        <h7>
                            <center>R-peak trigger</center>
                        </h7>
                    </div>
                    <div class="columnpic2">
                        <img src="./static/assets/images/hyp4.jpg" class="img-responsive" alt="" style="width:100%">
                        <h7>
                            <center>S-peak trigger</center>
                        </h7>
                    </div>
                </div>

                <div class="center23">
                    <img src="./static/assets/images/hyp6.jpg" class="img-responsive" alt="">
                    <h7>
                        <center>Standard error arrived after analysis</center>
                    </h7>
                </div>

            </div>
        </div>
    </div>


    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© 2021 | Created by Prem Aravindan</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>